@import url('https://fonts.googleapis.com/css?family=Mukta&display=swap');
#topbar {
	display: flex;
	position: absolute;
	top: 0%;
	width: 100%;
	left: 0px;
	height:50px;
	background-color: #046a38;
	align-items: flex-start;
}

#topbar #star {
	height: 50px;
	width: 50px;
	border: 1px solid black;
}

#topbar .labelbox {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 50px;
}

#label {
	color: white;
	font-size: 24px;
	align-self: flex-start;
	border: 1px solid black;
}
#topbar #mega {
	position: absolute;
	display:flex;
	justify-content: center;
	align-items: center;
	right: 0%;
	align-items: center;
	height:50px;
	background-image: url("megaphone.png");
	border: 0px
}
#megap {
	height: 50px;
	width: 50px;
}
#annlog {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.ann {
	display: flex;
}
.ann .annlogo{
	height: 100px;
	width: 100px;
	border: 1px solid black;
}
.ann .anninfo {
	font-size: 30px;
}
body {
	font-family: 'Mukta', sans-serif;
}